<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue</title>
    <link rel="stylesheet" type="text/css" href="../animate.css">
    <style type="text/css">
        /* Transition */        
        .aparecer-enter {
            opacity: 0;
        }        
        .aparecer-enter-active,
        .aparecer-leave-active {
            transition: opacity 1s;
        }        
        .aparecer-leave-to {
            opacity: 0;
        }
        /* Animation */        
        .bounce-enter-active {
            animation: bounce-in .5s;
        }        
        .bounce-leave-active {
            animation: bounce-in .5s reverse;
        }        
        @keyframes bounce-in {
            0% {
                transform: scale(0);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
    </style>
</head>

<body>
    <main>
        <button @click="mostrar = !mostrar">Mostrar/Ocultar</button>
        <!-- Transition -->
        <transition name="aparecer" appear>
            <h1 v-if="mostrar" v-text="mensajes.transicion"></h1>
        </transition>
        <!-- Animacion -->
        <transition name="bounce">
            <h1 v-if="mostrar" v-text="mensajes.animacion"></h1>
        </transition>
        <!-- Animate.css -->
        <transition
        name="animate.css"
        enter-active-class="animated rotateInUpLeft"
        leave-active-class="animated zoomOutUp">
            <h1 v-if="mostrar" v-text="mensajes.animacionCustom"></h1>
        </transition>
        <!-- Transicion entre elementos -->
        <transition name="aparecer" mode="out-in">
            <h1 v-if="mostrar" v-text="mensajes.animacion" key="aparecer"></h1>
            <h1 v-else key="oculltarse">No hay mensaje</h1>
        </transition>

        <pre>{{ $data }}</pre>
    </main>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>