<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue</title>
</head>

<body>
    <main>
        <!-- <ul>
            <li v-for="tarea in tareas" v-text="tarea.title"></li>
        </ul> -->
        
        <!-- <h1>Tareas Ajax</h1>
        <mis-tareas :tareas="tareasAjax"></mis-tareas>

        <hr>

        <h1>Tareas Locales</h1>
        <mis-tareas :tareas="tareasLocales"></mis-tareas> -->

        <h1>Tareas</h1>
        <mis-tareas></mis-tareas>

        <pre>{{ $data }}</pre>
    </main>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>