<template>
    <h1>Hola me llamo {{ nombre }} {{ apellido }}</h1>
</template>
<script>
    import {mapState} from 'vuex';
      export default {
          /*computed:{
              nombre(){
                  return this.$store.state.nombre;
              }
          }*/
          /*computed: mapState({
              nombre: (state) => state.nombre,
              apellido: (state) => state.apellido,
          })*/
          computed:
      }
</script>