<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Propiedades computadas en Vue js</title>
</head>
<body>
	<main>
		<!-- <h1>{{ mensajeAlReves }}</h1> -->
		<ul>
			<li v-for="tarea in tareasConPrioridad">
				{{ tarea.titulo }}
			</li>
			<li v-for="tarea in tareasPorAntiguedad">
				{{ tarea.titulo }}
			</li>
		</ul>
		<form v-on:submit.prevent="agregarTarea">			
			<input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
			<input type="submit" value="Enviar tarea">
		</form>
		<pre>{{ $data }}</pre>
	</main>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>