<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso VUEjs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1 v-show="conectado">Estoy conectado</h1>
                    <h2 v-if="edad < 18">No puedes entrar</h2>
                    <h2 v-else-if="edad > 200">Eres inmortal</h2>
                    <h2 v-else>Puedes entrar</h2>

                    <template v-if="conectado">
                        <h3>Bienvenido Juan</h3>
                        <ul>
                            <li>
                                <a href="#">Enlace</a>
                                <a href="#">Enlace</a>
                                <a href="#">Enlace</a>
                            </li>
                        </ul>
                    </template>

                    <input type="checkbox" id="estado">
                    <h1>{{ message }}</h1>
                    <input type="text" v-model="message" class="form-control">
                </div>
                <div class="col-sm-6">
                    <div class="card text-center">
                        <div class="card-block">
                            <pre><code>{{ $data }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>
</body>
</html>