<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Instancia Vue</title>
</head>
<body>	
	<main>
		<h1 v-text="mensaje"></h1>
		<button @click="alReves">Al revés</button>
		<pre>{{ $data }}</pre>
	</main>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>