<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shared State</title>
</head>
<body>
    <div id="app1"><h1>{{ usuario.nombre }}</h1></div>

    <div id="app2"><h1>{{ usuario.nombre }}</h1></div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="js/main.js"></script>
</body>
</html>