<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue</title>
</head>
<body>
    <main>
        <elegir-ganador :listado="personas"></elegir-ganador>

        <pre>{{ $data }}</pre>
    </main>
    <template id="elegir-ganador-template">
        <div>
            <h1 v-if="ganador">El ganador es: {{ ganador }}</h1>
            <template v-else>
                <h1>Participantes</h1>
                <ul>
                    <li v-for="persona in listado">{{ persona }}</li>
                </ul>
            </template>
            <button @click="elegirGanador">Elejir ganador</button>
        </div>
    </template>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>