<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Filtros</title>
</head>
<body>
	<main>
		<input type="search" v-model="busqueda" placeholder="Buscar juego...">
		<ul>
			<li v-for="juego in buscarJuego">
				{{ juego.titulo }}
			</li>
		</ul>
		<input type="range" name="filtro" min="0" max="10" v-model="minimo">
		<pre>{{ $data }}</pre>
	</main>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>