<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Eventos con Vue</title>
</head>
<body>
	<main>
		<ul>
			<li v-for="tarea in tareas">
				{{ tarea }}
			</li>
		</ul>
		<form  v-on:submit.prevent="agregarTarea">			
			<input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea">
			<input type="submit" value="Enviar tarea">
		</form>
		<!-- <input type="text" placeholder="Introduce tu tarea" v-model="nuevaTarea" v-on:keyup.enter="agregarTarea()">
		<input type="submit" value="Enviar tarea" v-on:click="agregarTarea()"> -->
		<pre>{{ $data }}</pre>
	</main>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>