<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Binding Vue</title>
	<style type="text/css">
		li{
			cursor: pointer;
		}
		.completado{
			text-decoration: line-through;
		}
	</style>
</head>
<body>	
	<main>
		<h1>Tareas</h1>
		<h2>{{ tareasCompletadas.length }} completadas</h2>
		<ul>
			<li :class="{completado: tarea.completado}"
				@click="completarTarea(tarea)" 
				v-for="tarea in tareas">
				{{ tarea.titulo }}
			</li>
		</ul>
		<pre>{{ $data }}</pre>
	</main>
	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>