<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue</title>
</head>

<body>
    <main>
        <img v-for="persona in personas" v-bind:src="persona.picture.thumbnail" :alt="persona.name.first">
        <pre>{{ $data }}</pre>
    </main>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <script type="text/javascript" src="main.js"></script>
</body>

</html>